# Lists continued

## List methods covered in last class:
- `list.copy()`
    - Return a shallow copy of the list. Equivalent to a[:]
- `list.append(x)`
    - Add an item to the end of the list. Equivalent to a[len(a):] = [x].
- `list.insert(i, x)`
    - Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
- `list.extend(iterable)`
    - Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
- `list.remove(x)`
    - Remove the first item from the list whose value is x. It is an error if there is no such item.
- `list.pop([i])`
    - Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.
- `list.clear()`
    - Remove all items from the list. Equivalent to del a[:].

## additional list methods
- `list.index(x)`
    - Return zero-based index in the list of the first item whose value is x. Raises a ValueError if there is no such item.
- `list.count(x)`
    - Return the number of times x appears in the list.

In [1]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
fam.index("emma")

2

In [2]:
letters = ["a", "b", "c", "a", "a"]
print(letters.count("a"))

3

In [3]:
fam2 = [["liz", 1.73],
["emma", 1.68],
["mom", 1.71],
["dad", 1.89]]
print(fam2.count("emma"))  # the string by itself does not exist
print(fam2.count(["emma", 1.68]))

0
1

- `list.sort(key=None, reverse=False)`
    - Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

- `list.reverse()`
    - Reverse the elements of the list in place.

In [4]:
fam.reverse()  # no output to 'capture', the list is changed in place

In [5]:
print(fam)

[1.89, 'dad', 1.71, 'mom', 1.68, 'emma', 1.73, 'liz']

In [6]:
fam.sort()  # can't sort floats and string

TypeError: '<' not supported between instances of 'str' and 'float'

In [7]:
some_digits = [4,2,7,9,2,5.1,3]
some_digits.sort()  # the list is sorted in place. no need to resave the output

In [8]:
print(some_digits)  # preserves numeric data types

[2, 2, 3, 4, 5.1, 7, 9]

In [9]:
type(some_digits[4])

float

In [10]:
some_digits.sort(reverse = True)
print(some_digits)

[9, 7, 5.1, 4, 3, 2, 2]

# Tuples

Tuples are like lists in that they can contain objects of different types.

They are different from lists in that they are **immutable**.

Tuples are created using curved brackets (parenthesis) `()`. They are also created by default if you write values separated by commas without any type of bracket.

tuples only support two methods: `tuple.index()` and `tuple.count()` which return information about contents of the tuple but do not modify them

In [11]:
t = (0,'apple',2,'cat','dog',5,6)

In [12]:
# the usual indexing options apply
t[1]

'apple'

In [13]:
t[2:5]

(2, 'cat', 'dog')

In [14]:
t.index('dog')

4

In [15]:
t.count(5)

1

## mutable vs immutable

Lists are mutable, meaning they can be modified.

Tuples are immutable. They cannot be modified.

In [16]:
t = (0,'apple',2,'cat','dog',5,6) # tuple
l = [0,'apple',2,'cat','dog',5,6] # list

In [17]:
l[0] = 100  # we can change the value of the object at index 0
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6]

In [18]:
t[0] = 100  # trying to modify the value in a tuple is not allowed

TypeError: 'tuple' object does not support item assignment

In [19]:
t.append('x')  # methods that modify lists in place (e.g. append, insert, pop, etc) do not work for tuples

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
l.append('x')
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6, 'x']

In [21]:
a = 1, 2, 3, 4
print(a)  # tuple created by default
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

## Functions that support lists and tuples as inputs

- `len()`
- `sum()`
- `sorted()`
- `min()`
- `max()`

None of these functions affect the list or tuple itself.

In [22]:
some_digits = (4,2,7,9,2,5,3)  # a tuple of numbers
some_words = ['dog','apple','cat','hat','hand']  # this is a list

In [23]:
len(some_digits)

7

In [24]:
sum(some_digits)

32

In [25]:
sum(some_words) # won't work on strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
sorted(some_digits)  # sorts the tuple, but does not affect the list or tuple itself.
# contrast to list.sort() which will sort the list in place
# but the object returned is a list

[2, 2, 3, 4, 5, 7, 9]

In [27]:
print(some_digits)  # just to show the list is unchanged

(4, 2, 7, 9, 2, 5, 3)

In [28]:
sorted(some_words) # when applied to a list of strings, it will alphabetize them

['apple', 'cat', 'dog', 'hand', 'hat']

In [29]:
min(some_digits)

2

In [30]:
max(some_words)  # max returns the last word if alphabetized,
# min will return the first in an alphabetized list

'hat'

# Strings and String Methods

strings are immutable. This means that when you use a method on a string, it does not modify the string itself and returns a new string object.

In [31]:
name = "STATS 131 python and other technologies for data science"
print(name.upper())
print(name.capitalize()) # first character is capitalized
print(name.title())     # first character of each word is capitalized
print(name.lower())
print(name) # string itself is not modified

STATS 131 PYTHON AND OTHER TECHNOLOGIES FOR DATA SCIENCE
Stats 131 python and other technologies for data science
Stats 131 Python And Other Technologies For Data Science
stats 131 python and other technologies for data science
STATS 131 python and other technologies for data science

In [32]:
name.count("e")

5

In [33]:
name.index('A') # index of the first instance

2

In [34]:
name.endswith("k")

False

In [35]:
name.endswith("e")

True

In [36]:
name.startswith("s")  # case sensitive

False

In [37]:
name2 = '''   miles chen 


'''
print(name2)

   miles chen

In [38]:
name2.strip()  # removes extra whitespace

'miles chen'

In [39]:
name2.split()

['miles', 'chen']

In [40]:
num_string = "2,3,4,7,8"
print(num_string.split()) # defaults to splitting on space
print(num_string.split(','))

['2,3,4,7,8']
['2', '3', '4', '7', '8']

In [41]:
print(name)
print(name.isalpha()) # has spaces and digits, so it is not strictly alpha
name3 = "abbaAZ"
print(name3.isalpha())

STATS 131 python and other technologies for data science
False
True

In [42]:
name4 = "abbaAZ4"
print(name4.isalpha())

False

In [43]:
# strings can span multiple lines with triple quotes 
long_string = """Lyrics to the song Hallelujah
Well I've heard there was a secret chord
That David played and it pleased the Lord
But you don't really care for music, do you?"""
shout = long_string.upper()
print(shout)
word_list = long_string.split() # separates at spaces
print(word_list)

LYRICS TO THE SONG HALLELUJAH
WELL I'VE HEARD THERE WAS A SECRET CHORD
THAT DAVID PLAYED AND IT PLEASED THE LORD
BUT YOU DON'T REALLY CARE FOR MUSIC, DO YOU?
['Lyrics', 'to', 'the', 'song', 'Hallelujah', 'Well', "I've", 'heard', 'there', 'was', 'a', 'secret', 'chord', 'That', 'David', 'played', 'and', 'it', 'pleased', 'the', 'Lord', 'But', 'you', "don't", 'really', 'care', 'for', 'music,', 'do', 'you?']

In [44]:
long_string.splitlines() # separates at line ends
# you'll notice that python defaults to using single quotes, but if the string contains an apostrophe,
# it will use double quotes

['Lyrics to the song Hallelujah',
 "Well I've heard there was a secret chord",
 'That David played and it pleased the Lord',
 "But you don't really care for music, do you?"]

In [45]:
long_string.count("e")

15

In [46]:
long_string.find("t") # index of the first instance of 't'

7

In [47]:
long_string.index('t') # string.index() and string.find() are similar.

7

In [48]:
long_string.find('$') # string.find() returns a -1 if the character doesn't exist in the string

-1

In [49]:
long_string.index('$')  # string.index() returns error if the character doesn't exist in the string.

ValueError: substring not found

## Subsetting Strings and strings as iterables

You can subset and slice a string much like you would a list or tuple:

In [50]:
s = 'abcdefghijklmnopqrstuvwxyz'
s[0]

'a'

In [51]:
s[4:9]

'efghi'

In [52]:
s[-6:]

'uvwxyz'

In [53]:
for x in s[0:5]:
    print(x + '!')

a!
b!
c!
d!
e!

In [54]:
# keep in mind strings are immutable
s[0] = 'b'

TypeError: 'str' object does not support item assignment

# Math operators and lists, tuples, strings

multiplication generally duplicates

addition generally appends

behaviors across lists, tuples, and strings are similar

In [55]:
L1 = ['a','b','c']
L2 = ['d','e','f']

In [56]:
L1 * 2 # multiplication extends duplicates

['a', 'b', 'c', 'a', 'b', 'c']

In [57]:
L1 + L2 # addition appends list objects

['a', 'b', 'c', 'd', 'e', 'f']

In [58]:
T1 = ('a','b','c')
T2 = ('d','e','f')

In [59]:
T1 * 2

('a', 'b', 'c', 'a', 'b', 'c')

In [60]:
T1 + T2

('a', 'b', 'c', 'd', 'e', 'f')

In [61]:
L1 + T2 # fails. you cannot add list and tuple

TypeError: can only concatenate list (not "tuple") to list

In [62]:
L1 + list(T2) # but you can easily convert a tuple to a list first

['a', 'b', 'c', 'd', 'e', 'f']

In [63]:
S1 = 'abc'
S2 = 'def'

In [64]:
S1 * 2

'abcabc'

In [65]:
S1 + S2

'abcdef'

# Booleans


You can convert boolean values to other types. True becomes 1, False becomes 0.

In [66]:
True

True

In [67]:
int(True)

1

In [68]:
float(True)

1.0

In [69]:
str(True)

'True'

In [70]:
int(False)

0

In [71]:
float(False)

0.0

In [72]:
str(False)

'False'

## You can convert other data types to booleans.

`bool()` called empty or on `None` will return `False`

In [73]:
bool()

False

In [74]:
bool(None)

False

Only 0 for numeric data types become False, everything else becomes True

In [75]:
bool(0)

False

In [76]:
bool(3) # any integer other than 0 becomes True

True

In [77]:
bool(0.0)

False

In [78]:
bool(-1.0) # any float that is not 0 also becomes True

True

In [79]:
x = float('nan')
x

nan

In [80]:
bool(x)  # even nan will become True

True

Only empty strings become False, everything else becomes True

In [81]:
bool('')

False

In [82]:
bool(' ')

True

In [83]:
bool('False')

True

bool() called on an empty list or tuple will return False. everything else will return True

In [84]:
l = []
bool(l)

False

In [85]:
l2 = [False] # l2 is a list that contains one object, false. bool sees a list that is not empty and returns True
bool(l2)

True

In [86]:
l3 = [[]] # l3 is a list that contains another list that is empty. l3 itself is not empty.

In [87]:
bool(l3)

True

In [88]:
# of course the item in l2 is False
l2[0]

False

In [89]:
bool(l2[0])

False